<!DOCTYPE html>
<html>
<link rel="stylesheet" href="static/styles/main.css">
<title>SM64DS Custom Object Database</title>
<body>
    <div class="topright">
        {% if session.username %}
            <form action="/logout" method="GET">
                <div class="topright"><input type="submit" class="logout" value="Log out"></div>
                <div class="topright">Logged in as <span>{{ session.username }}</span></div>
            </form>
        {% else %}
            <form action="/register" method="GET">
                <input type="submit" value="Create account">
            </form>
            <form action="/login" method="GET">
                <input type="submit" value="Log in">
            </form>
        {% endif %}
    </div>
    <h1>SM64DS Custom Object Database</h1>
    <p>
        <form action="/" method="GET">
            <label>Sort by</label>
            <select name="sortby" onChange = "this.form.submit()">
                {% for p in sortable_columns %}
                    {% if p == sortby %}
                        <option value="{{ p }}" selected>{{ column_display_names[p] }}</option>
                    {% else %}
                        <option value="{{ p }}">{{ column_display_names[p] }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <input type="text" name="search" id="search_bar" placeholder="Search object…" size="40" class="search" value="{{ search_term }}">
            <input type="submit" class="nomargin" value="Search">
            {% if search_term %}
                <input type="submit" class="nomargin" value="Clear" onClick="document.getElementById('search_bar').value = ''">
            {% endif %}
            <input type="checkbox" name="re" {{ regex_enabled }}>
            <label>Enable regex</label>
            <input type="checkbox" name="cs" {{ case_sensitive }}>
            <label>Case-sensitive</label>
        </form>
    </p>
    <table>
    {% for column in columns %}
    <th>{{ column_display_names[column] }}</th>
    {% endfor %}
    {% for obj in objects %}
    <tr>
        {% for column in columns %}
            {% if column in matches[obj.id] %}
                <td class="matching">
            {% else %}
                <td>
            {% endif %}
                {% if is_null(obj[column])  %}
                    <span class="na">N/A</span>
                {% elif column == "name" %}
                    <a href="/view={{ obj.id }}">{{ obj[column] }}</a>
                {% elif column == "description" %}
                    <div class="description">{{ obj[column] }}</div>
                {% else %}
                    {{ obj[column] }}
                {% endif %}
            </td>
        {% endfor %}
        {% if session.is_admin %}
            <td>
                <form action="/remove={{ obj.id }}" method="POST">
                    <input type="submit" class="nomargin" value="Remove" onclick="return confirm('Are you sure you want to remove \'{{ obj.name }}\'?')">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                </form>
            </td>
        {% endif %}
    </tr>
    {% endfor %}
    </table><br>
    {% if session.username %}
        <form action="/add" method="GET">
            <input type="submit" value="Add new object">
        </form>
    {% endif %}
</body>
</html>
