<!DOCTYPE html>
<link rel="stylesheet" href="static/styles/main.css">
<title>New Object – SM64DS Custom Object Database</title>
<h3>New Object</h3>
<form action="/add" method="POST">
Name:
<input type="text" name="name" required>
<br><br>
Creator:
<input type="text" name="creator">
<br><br>
ROM Hack:
<input type="text" name="rom_hack">
<br><br>
<label>Category:</label>
<select name="category">
    <option>Enemy</option>
    <option>Platform</option>
    <option>Item</option>
    <option selected>Misc.</option>
</select>
<br><br>
Object ID:
<input type="number" min="0" max="65535" name="object_id">
<br><br>
Actor ID:
<input type="number" min="0" max="65535" name="actor_id">
<br><br>
Description:
<br>
<textarea rows = "5" cols = "60" name="description">
</textarea>
<br><br>
<input type="submit" value="Add">
<input type="button" onclick="location.href='/'" value="Cancel">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
